---
layout: archive
title: "科研项目"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


<!-- {% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

<ol style="list-style-type: none;">
  <li>[1] 国家自然科学基金重点项目，面向3D对象分析与生成的深度学习理论与方法（项目编号：62032011），在研，联合主持（南大-南航-浙大）</li>
  <li>[2] 国家自然科学基金面上项目，面向大型飞机外形分析的大规模点云几何深度学习问题研究（项目编号：62172218），在研，主持</li>
  <li>[3] 国家重点研发计划子课题（运-20相关），***，在研，主持</li>
  <li>[4] 国防基础项目（军事智能相关），***，在研，联合主持</li>
  <li>[5] 中央扶持地方自由探索项目，点云驱动的飞机几何分析问题研究（项目编号：2021Szvup060），在研，主持</li>
  <li>[6] 江苏省文化和旅游科研课题重点项目，面向室外场景文化遗产保护的点云处理（项目编号：20ZD06），在研，主持</li>
  <li>[7] 国家自然科学青年基金项目，青铜器缺块数字化补配的关键技术研究（项目编号：61502137），结题，主持</li>
  <li>[8] 浙江大学CAD&CG国家重点实验室开放课题，青铜器虚拟修复中基础算法研究，结题，主持</li>
  <li>[9] Innovation and Technology Fund of Hong Kong，A Software Toolkit for Rapid Development of Interactive 3D Web Applications，结题，参与</li>
  <li>[10] RGC General Research Fund of Hong Kong，Virtual Reality Incisional Anatomy for Microscopic Mastoid Surgery Learning，结题，参与</li>
  <li>[11] 国家自然科学基金，脑出血的神经内窥镜手术模拟关键技术研究，结题，参与</li>
  <li>[12] 深圳市机器人孵化器项目，血管介入手术机器人辅助系统，参与，结题</li>
  <li>[13] 国家自然科学基金，点云曲面建模的关键技术研究，参与，结题</li>
</ol>
