---
layout: archive
title: "学术成果"
permalink: /publications/
author_profile: true
---

<ul style="list-style-type: none;">
  <li>[1] Hongwei Zhu（本科生）, Peng Li, Haoran Xie, Xuefeng Yan, Dong Liang, Dapeng Chen, <strong>Mingqiang Wei</strong>, Jing Qin: I can find you! Boundary-guided Separated Attention Network for Camouflaged Object Detection. AAAI, 2022. (CCF A)</li>
  <li>[2] Honghua Chen, Zeyong Wei, Yabin Xu, <strong>Mingqiang Wei</strong>, Jun Wang. ImLoveNet: a Misaligned Image-supported Registration Network for Low-overlap Point Cloud Pairs. Siggraph, 2022. (CCF A)</li>
  <li>[3] Dong Liang, Ling Li, <strong>Mingqiang Wei</strong>, et al. Semantically Contrastive Learning for Low-light Image Enhancement. AAAI, 2022. (CCF A)</li>
  <li>[4] H Chen, Z Wei, X Li, Y Xu, <strong>M. Wei</strong>, J Wang: RePCD-Net: Feature-Aware Recurrent Point Cloud Denoising Network. International Journal of Computer Vision, 1-15, 2022. (CCF A)</li>
  <li>[5] Yongzhen Wang, Xuefeng Yan, Donghai Guan, <strong>Mingqiang Wei</strong>, Yiping Chen, Xiao-Ping Zhang, Jonathan Li. Cycle-SNSPGAN: Towards Real-World Image Dehazing via Cycle Spectral Normalized Soft Likelihood Estimation Patch GAN. IEEE Transactions on Intelligent Transportation Systems (TITS), 2022. (CCF B)</li>
  <li>[6] Yongzhen Wang, Xuefeng Yan, Hexiang Bao, Yiping Chen, Lina Gong, <strong>Mingqiang Wei</strong>, Jonathan Li. OD-UTDNet: Occluded and Dense Urban Tree Detection Network with a High-quality Tree Detection Dataset. IEEE Transactions on Geoscience and Remote Sensing, 2022. (CCF B)</li>
  <li>[7] Qian Sun, <strong>Mingqiang Wei</strong>, et al. Deeply Exploiting Beneficial Features for Beauty Product Retrieval. ACM TOMM, 2022. (CCF B)</li>
  <li>[8] 陈红华, 魏泽勇, 谢乾, <strong>魏明强</strong>, 汪俊. 基于三维点云深度学习的飞机表面多圆孔基元提取方法. 机械工程学报. 2022</li>
  <li>[9] 石鼎, 燕雪峰, 宫丽娜, 张静宣, 关东海, <strong>魏明强</strong>. 强化学习驱动的海战场多智能体协同作战仿真算法. 系统仿真学报. 2022.</li>
  <li>[10] 孙乾, <strong>魏明强</strong>等: 以图搜图：基于显著性注意力的美容产品检索网络. 计算机辅助设计与图形学学报. 2022. (CCF A中文)</li>
  <li>[11] Yidan Feng, Biqi Yang, Xianzhi Li, Chi-Wing Fu, Rui Cao, Kai Chen, Qi Dou, <strong>Mingqiang Wei</strong>, Yunhui Liu, Pheng Ann Heng: Towards Robust Part-aware Instance Segmentation for Industrial Bin Picking. ICRA 2022. (CCF B)</li>
  <li>[12] Yiyang Shen, Yidan Feng, Weiming Wang, Dong Liang, Jing Qin, Haoran Xie, <strong>Mingqiang Wei</strong>: MBA-RAINGAN: A MULTI-BRANCH ATTENTION GENERATIVE ADVERSARIAL NETWORK FOR MIXTURE OF RAIN REMOVAL. ICASSP 2022. (CCF B)</li>
  <li>[13] Yuwen Deng Donghai Guan Yanyu Chen Weiwei Yuan Jiemin Ji <strong>Mingqiang Wei</strong>: SAR-SHIPNET: SAR-SHIP DETECTION NEURAL NETWORK VIA BIDIRECTIONAL COORDINATE ATTENTION AND MULTI-RESOLUTION FEATURE FUSION. ICASSP 2022. (CCF B)</li>
  <li>[14] C. Zheng, D. Shi, X. Yan, D. Liang, <strong>M. Wei</strong>, X. Yang, Y. Guo, H. Xie: GlassNet: Label Decoupling-based Three-stream Neural Network for Robust Image Glass Detection. Computer Graphics Forum, 2022. (CCF B)</li>
  <li>[15] Dayong Ren, Jie Guo, <strong>Mingqiang Wei</strong>, Yanwen Guo: Point attention network for point cloud semantic segmentation. SCIENCE CHINA Information Sciences, 2022.</li>
  <li>[16] N Wambugu, Y Chen, Z Xiao, K Tan, <strong>M. Wei</strong>, X Liu, J Li：Hyperspectral image classification on insufficient-sample and feature learning using deep neural networks: A review. International Journal of Applied Earth Observation and Geoinformation. 2022</li>
  <li>[17] D Liang, Q Geng, Z Wei, DA Vorontsov, EL Kim, <strong>M. Wei</strong>, H Zhou: Anchor Retouching via Model Interaction for Robust Object Detection in Aerial Images. IEEE Transactions on Geoscience and Remote Sensing. 2022. (CCF B)</li>
  <li>[18] N Wambugu, Y Chen, Z Xiao, <strong>M. Wei</strong>, SA Bello, JM Junior, J Li: A hybrid deep convolutional neural network for accurate land cover classification. International Journal of Applied Earth Observation and Geoinformation. 2022</li>
  <li>[19] P Gao, <strong>M. Wei</strong>: Block size selection in rate-constrained geometry based point cloud compression. Multimedia Tools and Applications, 1-19, 2022</li>
  <li>[20] Kin Sum Sammy Li, Quanyu Wang, J Keith Wilson, Fan Jeremy Zhang, Jody Ho Yee Cheung, Tsz Hin Chun, Sum Lam, Mingyong Pang, Haoran Xie, <strong>Mingqiang Wei</strong>, Kin San Lee: Decorated models, replication, and assembly lines for bronze industrial production in 500 BCE China. Early China 44, 109-142, 2021</li>
  <li>[21] X Jiang, B Xu, <strong>M. Wei</strong>, K Wu, S Yang, L Qian, N Liu, Q Peng: C2F-3DToothSeg: Coarse-to-fine 3D tooth segmentation via intuitive single clicks. Computers & Graphics, 2021</li>
  <li>[22] Y Zhang, X Li, J Qiu, X Zhai, <strong>M. Wei</strong>: GFU-Net: A Deep Learning Approach for Automatic Metal Crack Detection. International Conference on Neural Computing for Advanced Applications, 375-388, 2021</li>
  <li>[23] <strong>Mingqiang Wei</strong>, Honghua Chen, Yingkui Zhang, Haoran Xie, Yanwen Guo, Jun Wang. GeoDualCNN: Geometry-supporting Dual Neural Networks for Noisy Point Cloud. IEEE Transactions on Visualization and Computer Graphics, 2021. (CCF A)</li>
  <li>[24] Haoran Zhou（本科生）, Honghua Chen, Yingkui Zhang, <strong>Mingqiang Wei</strong>, Haoran Xie, Jun Wang, Tong Lu*, and Xiao-Ping Zhang. Refine-Net: Normal Refinement Neural Network for Noisy Point Cloud. IEEE TPAMI, 2021. (CCF A)</li>
  <li>[25] Haoran Zhou, Yidan Feng, <strong>Mingqiang Wei</strong>, Jing Qin, Tong Lu. Adaptive Graph Convolution for Point Cloud Analysis. ICCV, 2021. (CCF A)</li>
  <li>[26] Qian Xie, Yu-Kun Lai, Jing Wu, Zhoutao Wang, Dening Lu, <strong>Mingqiang Wei</strong> and Jun Wang. VENet: Voting Enhancement Network for 3D Object Detection. ICCV, 2021. (CCF A)</li>
  <li>[27] Yingkui Zhang, Guibao Shen, <strong>Mingqiang Wei</strong>, Guangyong Chen, Qiong Wang, Jing Qin, Pheng-Ann Heng. GeoBi-GNN: Geometry-aware Bi-domain Mesh Denoising via Graph Neural Networks. Computer-Aided Design, 2021. (CCF B)</li>
  <li>[28] Yidan Feng, Sen Deng, Xuefeng Yan, Xin Yang, <strong>Mingqiang Wei</strong>, Ligang Liu. Easy2Hard: Learning to Solve the Intractables From a Synthetic Dataset for Structure-Preserving Image Smoothing. IEEE Transactions on Neural Networks and Learning Systems, 2021. (CCF B)</li>
  <li>[29] Guibao Shen, Yingkui Zhang, Jialu Li, <strong>Mingqiang Wei</strong>, Qiong Wang, Guanyong Chen, Pheng-Ann Heeng. Learning Regularizer for Monocular Depth Estimation with Adversarial Guidance. ACM MM, 2021. (CCF A)</li>
  <li>[30] Sen Deng, Yidan Feng, Haoran Xie, Yiping Chen, Jun Li, Xiaoping Zhang, <strong>Mingqiang Wei</strong>, Jing Qin. Direction-aware Feature-level Frequency Decomposition for Single Image Deraining. IJCAI, 2021. (CCF A)</li>
  <li>[31] Honghua Chen, Yaoran Huang, Qian Xie, Yuanpeng Liu, Yuan Zhang, <strong>Mingqiang Wei</strong> and Jun Wang: Multi-scale Feature Line Extraction from Raw Point Clouds Based on Local Surface Variation and Anisotropic Contraction, IEEE Transactions on Automation Science and Engineering, 2021. (CCF B)</li>
  <li>[32] Dong Liang, Han Sun, Liyan Zhang, Ningzhong Liu, <strong>Mingqiang Wei</strong>. NLKD: using coarse annotations for semantic segmentation based on knowledge distillation, ICASSP, 2021. (CCF B)</li>
  <li>[33] Zhoutao Wang, Qian Xie, <strong>Mingqiang Wei</strong>, Kun Long and Jun Wang. Multi-feature Fusion VoteNet for 3D Object Detection. ACM Transactions on Multimedia Computing, Communications, and Applications. 2021.</li>
  <li>[34] Z Ji, X Sun, YW Zhang, W Ma, <strong>M. Wei</strong>. Normal Manipulation for Bas-relief Modeling. Graphical Models, 101099, 2021.</li>
  <li>[35] Xiaoxue Liu, Yiping Chen, <strong>Mingqiang Wei</strong>, Cheng Wang, Jun Li. A Building Instance Extraction Method Based on Improved Hybrid Task Cascade, EEE Geoscience and Remote Sensing Letters, 2021.</li>
  <li>[36] J Ni, J Wu, J Tong, <strong>M. Wei</strong>, Z Chen. SSCA-Net: Simultaneous Self-and Channel-attention Neural Network for Multi-scale Structure-Preserving Vessel Segmentation, 2021.</li>
  <li>[37] Nan Ye, Hongyu Zhu, <strong>Mingqiang Wei</strong>, Liyan Zhang. Accurate and dense point cloud generation for industrial Measurement via target-free photogrammetry Optics and Lasers in Engineering 140, 106521, 2021</li>
  <li>[38] C Jiang, J Wu, W Zhong, <strong>M. Wei</strong>, J Tong, H Yu, L Wang. Automatic Facial Paralysis Assessment via Computational Image Analysis, Journal of healthcare engineering 2020</li>
  <li>[39] Yanjun Peng, Ming Chang, Qiong Wang, Yinling Qian, Yingkui Zhang, <strong>Mingqiang Wei</strong>, Xiangyun Liao: Sparse-to-Dense Multi-Encoder Shape Completion of Unstructured Point Cloud. IEEE Access 8: 30969-30978 (2020)</li>
  <li>[40] <strong>魏明强</strong>, 陈红华, 孙杨杏, 汪俊, 郭延文，燕雪峰: 破损文物数字化修复: 以中国出土青铜器为例. 计算机辅助设计与图形学学报,2020-11-18.</li>
  <li>[41] 郜金艳，郭延文，王连生，汪俊，<strong>魏明强</strong>. 基于几何先验和深度学习的点云法矢估算. 计算机辅助设计与图形学学报, 2021-03.</li>
  <li>[42] 刘彩霞, <strong>魏明强</strong>, 郭延文: 基于深度学习的三维点云修复技术综述, 计算机辅助设计与图形学学报，2020-12-22.</li>
  <li>[43] 王继东, 赵瑞斌, <strong>魏明强</strong>: 内部结构自支撑的三维打印浮体平衡优化算法. 计算机辅助设计与图形学学报, 32(3): 493-500, 2020.</li>
  <li>[44] 李智琦(本科生), 毛心怡（本科生）, 汪俊, <strong>魏明强</strong>, 郭延文: 保持特征的三角网格曲面去噪技术综述与展望. 计算机辅助设计与图形学学报, 32(1): 1-15, 2020.</li>
  <li>[45] 梁楚萍（本科生）, 印杰, 伍静, 汪俊, <strong>魏明强</strong>, 郭延文: 三维网格分割中聚类分析技术综述. 计算机辅助设计与图形学学报, 32(4): 680-691, 2020.</li>
  <li>[46] 邓森, 徐进轩, 梁鹿鸣, 杨珉, 谢浩然, 王富利, 汪俊, <strong>魏明强</strong>, 郭延文: 自适应深度残差椒盐噪声滤除算法. 计算机辅助设计与图形学学报, 32(8): 1248-1257, 2020.</li>
  <li>[47] Dingkun Zhu, Yingkui Zhang, Zhiqi Li, Weiming Wang, Haoran Xie, <strong>Mingqiang Wei</strong>, Shing Cheng, Fu Lee Wang: Cascaded Normal Filtering for Geometry-aware Mesh Denoising of Measurement Surfaces. IEEE Transactions on Instrumentation and Measurement, 2021, to appear.</li>
  <li>[48] Jiajia Dai, <strong>Mingqiang Wei</strong>, Qian Xie, Jun Wang: Aircraft Seam Feature Extraction from 3D Raw Point Cloud via Hierarchical Multi-structure Fitting. Comput. Aided Des. 130: 102945 (2021)</li>
  <li>[49] <strong>Mingqiang Wei</strong>, Yidan Feng, Honghua Chen. Selective-Guidance Normal Filter, IEEE Transactions on Visualization and Computer Graphics, 2020, to appear.</li>
  <li>[50] Meili Wang, Li Wang, Tao Jiang, Nan Xiang, Juncong Lin, <strong>Mingqiang Wei</strong>, Xiaosong Yang, Taku Komura, Jianjun Zhang. Bas-relief modelling from enriched detail and geometry with deep normal transfer. Neurocomputing, 2020, to appear.</li>
  <li>[51] Luming Liang, Sen Deng, Lionel Gueguen, Xinming Wu, <strong>Mingqiang Wei</strong>, Jing Qin: Convolutional Neural Network with Median Layers for Denoising Salt-and-Pepper Contaminations. Neurocomputing, 2021, to appear.</li>
  <li>[52] Zhiqi Li（本科生）, Yingkui Zhang, Yidan Feng, Xingyu Xie, Qiong Wang, <strong>Mingqiang Wei</strong>, Pheng-Ann Heng: NormalF-Net: Normal Filtering Neural Network for Feature-preserving Mesh Denoising. Comput. Aided Des. 127: 102861 (2020)</li>
  <li>[53] <strong>Mingqiang Wei</strong>, Zhan Song, Y. Nie, Jianhuang Wu, Zhongping Ji, Yanwen Guo, Haoran Xie, Jun Wang, Fu Lee Wang: Normal-Based Bas-Relief Modelling via Near-Lighting Photometric Stereo. Comput. Graph. Forum 39(1): 204-219 (2020)</li>
  <li>[54] Honghua Chen, <strong>Mingqiang Wei</strong>, Yangxing Sun, Xingyu Xie, Jun Wang: Multi-Patch Collaborative Point Cloud Denoising via Low-Rank Recovery with Graph Constraint. IEEE Trans. Vis. Comput. Graph. 26(11): 3255-3270 (2020)</li>
  <li>[55] Haoran Zhou（本科生）, Honghua Chen, Yidan Feng, Qiong Wang, Jing Qin, Haoran Xie, Fu Lee Wang, <strong>Mingqiang Wei</strong>, Jun Wang: Geometry and Learning Co-Supported Normal Estimation for Unstructured Point Cloud. CVPR 2020: 13235-1324</li>
  <li>[56] Sen Deng, <strong>Mingqiang Wei</strong>, Jun Wang, Yidan Feng, Luming Liang, Haoran Xie, Fu Lee Wang, Meng Wang: Detail-recovery Image Deraining via Context Aggregation Networks. CVPR 2020: 14548-14557</li>
  <li>[57] Yiyang Shen, Yidan Feng, Sen Deng, Dong Liang, Jing Qin, Haoran Xie, <strong>Mingqiang Wei</strong>: MBA-RainGAN: Multi-branch Attention Generative Adversarial Network for Mixture of Rain Removal from Single Images. CoRR abs/2005.10582 (2020)</li>
  <li>[58] Jun Wang, Jin Huang, Fu Lee Wang, <strong>Mingqiang Wei</strong>, Haoran Xie, Jing Qin: Data-driven Geometry-recovering Mesh Denoising. Comput. Aided Des. 114: 133-142 (2019)</li>
  <li>[59] Cheng Yi, Dening Lu, Qian Xie, Shuya Liu, Hu Li, <strong>Mingqiang Wei</strong>, Jun Wang: Hierarchical tunnel modeling from 3D raw LiDAR point cloud. Comput. Aided Des. 114: 143-154 (2019)</li>
  <li>[60] Honghua Chen, Jin Huang, Oussama Remil, Haoran Xie, Jing Qin, Yanwen Guo, <strong>Mingqiang Wei</strong>, Jun Wang: Structure-guided shape-preserving mesh texture smoothing via joint low-rank matrix recovery. Comput. Aided Des. 115: 122-134 (2019)</li>
  <li>[61] Yu-Wei Zhang, Jing Wu, Zhongping Ji, <strong>Mingqiang Wei</strong>, Caiming Zhang: Computer-assisted Relief Modelling: A Comprehensive Survey. Comput. Graph. Forum 38(2): 521-534 (2019)</li>
  <li>[62] <strong>Mingqiang Wei</strong>, X. Guo, J. Huang, Haoran Xie, H. Zong, R. Kwan, F. L. Wang, Jing Qin: Mesh Defiltering via Cascaded Geometry Recovery. Comput. Graph. Forum 38(7): 591-605 (2019)</li>
  <li>[63] Yangxing Sun, H. Chen, J. Qin, H. Li, <strong>Mingqiang Wei</strong>, H. Zong: Reliable Rolling-guided Point Normal Filtering for Surface Texture Removal. Comput. Graph. Forum 38(7): 721-732 (2019)</li>
  <li>[64] Xianglin Guo, Xingyu Xie, Guangcan Liu, <strong>Mingqiang Wei</strong>, Jun Wang: Robust Low-rank subspace segmentation with finite mixture noise. Pattern Recognit. 93: 55-67 (2019)</li>
  <li>[65] <strong>Mingqiang Wei</strong>, Yang Tian, Wai-Man Pang, Charlie C. L. Wang, Ming-Yong Pang, Jun Wang, Jing Qin, Pheng-Ann Heng: Bas-Relief Modeling from Normal Layers. IEEE Trans. Vis. Comput. Graph. 25(4): 1651-1665 (2019)</li>
  <li>[66] <strong>Mingqiang Wei</strong>, Jin Huang, Xingyu Xie, Ligang Liu, Jun Wang, Jing Qin: Mesh Denoising Guided by Patch Normal Co-Filtering via Kernel Low-Rank Recovery. IEEE Trans. Vis. Comput. Graph. 25(10): 2910-2926 (2019)</li>
  <li>[67] Jidong Wang, Jiajia Dai, Kin-Sum Li, Jun Wang, <strong>Mingqiang Wei</strong>, Mingyong Pang: Cost-effective printing of 3D objects with self-supporting property. Vis. Comput. 35(5): 639-651 (2019)</li>
  <li>[68] Wuyuan Xie, Miaohui Wang, <strong>Mingqiang Wei</strong>, Jianmin Jiang, Jing Qin: Surface Reconstruction From Normals: A Robust DGP-Based Discontinuity Preservation Approach. CVPR 2019: 5328-5336</li>
  <li>[69] Qiaoyun Wu, Hongbin Yang, <strong>Mingqiang Wei</strong>, Oussama Remil, Bo Wang, Jun Wang. Automatic 3D Reconstruction Of Electrical Substation Scene From LiDAR Point Cloud. ISPRS Journal of Photogrammetry and Remote Sensing, 2018.</li>
  <li>[70] Ruibing Zhao, Mingyong Pang, <strong>Mingqiang Wei</strong>. Accurate extraction of building roofs from airborne light detection and ranging point clouds using a coarse-to-fine approach. Journal of Applied Remote Sensing, 12(2), 2018.</li>
  <li>[71] <strong>Mingqiang Wei</strong>, Qiong Wang, Yichen Li, Wai-Man Pang, Luming Liang, Jun Wang, Kelvin K. L. Wong, Derek Abbott, Jing Qin and Jianhuang Wu. Centerline extraction of vasculature mesh. IEEE ACCESS, 2018.</li>
  <li>[72] <strong>Mingqiang Wei</strong>, Jun Wang, Xianglin Guo, Huisi Wu, Haoran Xie, Fu Lee Wang, Jing Qin. Learning-based 3D surface optimization from medical image reconstruction. Optics and Lasers in Engineering, 2018.</li>
  <li>[73] Cheng Yi, Hongwen Xing, Qiaoyun Wu, Yuan Zhang, <strong>Mingqiang Wei</strong>, Bo Wang, Laishui Zhou. Automatic Detection of Cross-Shaped Targets for Laser Scan Registration. IEEE Access, 2018.</li>
  <li>[74] <strong>Mingqiang Wei</strong>, Luming Liang, Wai-Man Pang, Jun Wang, Weishi Li, Huisi Wu. Tensor voting guided mesh denoising. IEEE Transactions on Automation Science and Engineering, 2017, 14(1): 931-945.</li>
  <li>[75] Qian Xie, Oussama Remil, Yanwen Guo, Meng Wang, <strong>Mingqiang Wei</strong>, Jun Wang. Object Detection and Tracking Under Occlusion for Object-level RGB-D Video Segmentation, IEEE Transactions on Multimedia, 2017.</li>
  <li>[76] Jun Wang, Qiaoyun Wu, Oussama Remil, Cheng Yi, Yanwen Guo, <strong>Mingqiang Wei</strong>. Modeling Indoor Scenes with Repetitions from 3D Raw Point Data, Computer-Aided Design, 2017.</li>
  <li>[77] Cheng Yi, Yuan Zhang, Qiaoyun Wu, Yabin Xu, <strong>Mingqiang Wei</strong>, Jun Wang. Urban Building Reconstruction from Raw LiDAR Point Data, Computer-Aided Design, 2017.</li>
  <li>[78] Luming Liang, <strong>Mingqiang Wei</strong>, Andrzej Szymczak, Anthony Petrella, Haoran Xie, Jing Qin, Jun Wang, Fu Lee Wang. Nonrigid Iterative Closest Points for Registration of 3D Biomedical Surfaces, Optics and Lasers in Engineering, 2017.</li>
  <li>[79] <strong>Mingqiang Wei</strong>, Luming Liang, Andrzej Szymczak, Meng Wang, Wai-Man Pang. Spin contour. IEEE Transactions on Multimedia, 2016, 18(11): 2282-2292.</li>
  <li>[80] <strong>Mingqiang Wei</strong>, Jinze Yu, Wai-Man Pang, Jun Wang, Jing Qin, Ligang Liu, Pheng-Ann Heng. Bi-normal filtering for mesh denoising. IEEE Transactions on Visualization and Computer Graphics , 21(1): 43-55, 2015.</li>
  <li>[81] <strong>Mingqiang Wei</strong>, Lei Zhu, Jinze Yu, Jun Wang, Wai-Man Pang, Jianhuang Wu, Jing Qin, Pheng-Ann Heng. Morphology-preserving smoothing on polygonized isosurfaces of inhomogeneous binary volumes. Computer-Aided Design, 58: 92-98, 2015 (Special issue of ACM SPM 2014).</li>
  <li>[82] Jun Wang, Yabin Xu, Oussama Remil, Xingyu Xie, Nan Ye, Cheng Yi, <strong>Mingqiang Wei</strong>. Automatic modeling of urban facades from raw LiDAR point data. Computer Graphics Forum, 35(7): 269-278, 2016 (Special issue of Pacific Graphics 2016).</li>
  <li>[83] <strong>Mingqiang Wei</strong>, Wuyao Shen, Jing Qin, Jianhuang Wu, Tsin-Tien Wong, Pheng-Ann Heng. Optimizing noisy meshes by joint bilateral filter and constrained laplacian smoothing. Optics and Lasers in Engineering, 51(11): 1745-1754, 2013.</li>
  <li>[84] <strong>Mingqiang Wei</strong>, Jinze Yu, Qing Qin, Jianhuang Wu, Pheng-Ann Heng. Feature-preserving mesh denoising via normal guided quadric error metrics. Optics and Lasers in Engineering, 62: 57-68, 2014.</li>
  <li>[85] <strong>Mingqiang Wei</strong>, Lei Zhu, Jinze Yu, Weiming Wang, Jing Qin, Pheng-Ann Heng. Coarse-to-fine normal filtering for feature-preserving mesh denoising based on isotropic subneighborhoods. Computer Graphics Forum, 32(7): 371-380, 2013 (Special issue of Pacific Graphics 2013).</li>
  <li>[86] Luming Liang, Andrzej Szymczak, <strong>Mingqiang Wei</strong>. Geodesic contour for partial near-isometric matching. Computers & Graphics, 46: 156-171, 2015 (Special issue of Shape Modeling International 2015).</li>
  <li>[87] Jun Wang, Zeyun Yu, Weizhong Zhang, <strong>Mingqiang Wei</strong>, Changbai Tan, Ning Dai, Xi Zhang. Robust reconstruction of 2D curves from scattered noisy point data. Computer-Aided Design (CAD), 50: 27-40, 2014.</li>
  <li>[88] Lei Zhu, Chi-Wing Fu, Yueming Jin, <strong>Mingqiang Wei</strong>, Jing Qin, Pheng-Ann Heng. Non-local sparse and low-rank regularization for structure-preserving image smoothing. Computer Graphics Forum, 2016 (Special issue of Pacific Graphics 2016).</li>
  <li>[89] 赵瑞斌，庞明勇，张燕玲，<strong>魏明强</strong>，游国忠，机载LiDAR点云中精细建筑物顶面的渐进提取, 计算机辅助设计与图形学学报， 2017</li>
  <li>[90] Xiaotong Jiang, Chen Chen, Ning Dai, Luming Liang, <strong>Mingqiang Wei</strong>. Models partition for 3d printing objects using skeleton. Rapid Prototyping Journal. 2016.</li>
  <li>[91] Sen Wang, Jianhuang Wu, <strong>Mingqiang Wei</strong>, Xin Ma. Robust curve skeleton extraction for vascular structures. Graphical Models, 74(4): 109-120, 2012.</li>
  <li>[92] Jianhuang Wu, <strong>Mingqiang Wei</strong>, Yonghong Li, Xin Ma, Fucang Jia, Qingmao Hu. Scale-adaptive surface modeling of vascular structures. BioMedical Engineering OnLine 2010, 19 Nov. 2010.</li>
  <li>[93] Haoyu Wang, Jianhuang Wu, <strong>Mingqiang Wei</strong>, Xin Ma. A robust and fast approach to simulating the behavior of guidewire in vascular interventional radiology. Computerized Medical Imaging and Graphics, 32(3): 174-186, 2014.</li>
  <li>[94] <strong>Mingqiang Wei</strong>, Lei Zhu, Jinze Yu, Jun Wang, Wai-Man Pang, Jing Qin, Pheng-Ann Heng. Morphological feature preserving mesh smoothing for biomedical applications. Computer Graphics International, 1-4, 2014.</li>
  <li>[95] <strong>Mingqiang Wei</strong>, Yichen Li, Jianhuang Wu, Mingyong Pang. ESimp: Error-controllable simplification with feature preservation for surface reconstruction. International Conference on CyberWorlds, 77-84, 2011.</li>
  <li>[96] <strong>Mingqiang Wei</strong>, Jianhuang Wu, Mingyong Pang. Geometry-based remeshing with image processing. International Congress on Image and Signal Processing, 2575-2578, 2010.</li>
  <li>[97] <strong>Mingqiang Wei</strong>, Mingyong Pang, Zhigeng Pan. Optimizing triangulation of implicit surface based on quadric error metrics. International Conference on CyberWorlds, 113-119, 2010.</li>
  <li>[98] <strong>Mingqiang Wei</strong>, Jianhuang Wu, Mingyong Pang. An integrated approach to filling holes in meshes. International Conference on Artificial Intelligence and Computational Intelligence, 3: 306-310, 2010.</li>
  <li>[99] <strong>Mingqiang Wei</strong>, Jianhuang Wu, Mingyong Pang. Dynamic mesh optimization with curvature dependent subdivision for polygonized implicit surfaces with sharp features. International Conference on Artificial Intelligence and Computational Intelligence, 3: 331-335, 2010.</li>
  <li>[100] Xin Ma, <strong>Mingqiang Wei</strong>, Sen Wang, Jianhuang Wu. An interactive deforming framework for dental surface restoration. International Conference on Biomedical Engineering and Biotechnology, 25-30, 2012.</li>
  <li>[101] Weiming Wang, Qiang Meng, Jing Qin, <strong>Mingqiang Wei</strong>, Yim-Chui Pan, Pheng-Ann Heng. An interactive web-based anatomy navigation system via WebGL and Kinect. Ijcars 2013.</li>
  <li>[102] <strong>Mingqiang Wei</strong>, Mingyong Pang, Chuiling Fan. Survey on planar parameterization of triangular meshes. International Conference on Measuring Technology and Mechatronics Automation, 3:702-705, 2010.</li>
  <li>[103] Jin Huang, <strong>Mingqiang Wei</strong>, Honghua Chen, Jun Zhou, Jun Wang. Mesh-based Computation for Solving Bas-Relief Generation from Editable Normal Images, Measurement and Science Technology, 2019.</li>
  <li>[104] <strong>Mingqiang Wei</strong>, Wai-Man Pang, Fu Lee Wang, Haoran Xie, Jing Qin. Joint Weighted Least Squares for Surface Normal Decomposition, Measurement and Science Technology, 2020.</li>
  <li>[105] <strong>Mingqiang Wei</strong>, Fu Lee Wang, Haoran Xie, Jun Wang, Jing Qin. Vascular Mesh Optimization and Centerline Extraction for Endovascular Intervention Simulation, Optics and Lasers in Engineering, 2018.</li>
</ul>







<!-- 以下原文已注释
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
 
 -->


